[VOLGRIDS]
######################## OUTPUTS
do_output_dx=false     # Human-readable format (heavy). Tested with VMD, Chimera, ChimeraX, UnityMol.
do_output_mrc=false    # Binary format (light). Tested with VMD, Chimera, ChimeraX.
do_output_cmap=true    # Compressed binary format (very light). Tested with ChimeraX.


######################## SPACE EFFICIENCY
gzip_compression=9      # gzip compression level for CMAP files (0-9); h5py default is 4
float_dtype=np.float32  # numerical precision of the grid data
warning_grid_size=5.0e7 # if the grid would exceed this amount of points, trigger a warning with possibility to abort


######################## GRIDS
### deltas used for calculations when use_fixed_deltas=true (resolutions change)
grid_dx=0.25
grid_dy=0.25
grid_dz=0.25

### resolution used for calculations when use_fixed_deltas=false (deltas change)
grid_xres=200
grid_yres=200
grid_zres=200

extra_box_size=5      # only applies to whole mode
use_fixed_deltas=true # whether to use fixed dx,dy,dz and le xres,yres,zres change (or the opposite)



[SMIFFER]
######################## TOGGLES
### GRIDS
do_smif_stacking=true
do_smif_hba=true
do_smif_hbd=true
do_smif_hydrophobic=true
do_smif_hydrophilic=true
do_smif_apbs=true

do_smif_log_apbs=false
do_smif_hydrodiff=false

do_trimming_occupancy=true
do_trimming_sphere=true # only applies for pocket-sphere mode
do_trimming_rnds=false  # only applies for pocket-sphere mode

save_cached_mask=false # saves the logical inverse of the trimming mask


######################## TRIMMING
### OCCUPANCY TRIMMING
trimming_dist_large=3.0
trimming_dist_small=2.5

### RANDOM SEARCH TRIMMING
max_rnds_dist=np.inf
cog_cube_radius=3


######################## SMIF MODEL PARAMETERS
mu_hydrophobic=4.0
sigma_hydrophobic=1.5

mu_hydrophilic=3.0
sigma_hydrophilic=0.15

mu_angle_hba=129.9
mu_angle_hbd=109.0
mu_dist_hbond=2.93

sigma_dist_hbond=0.21
sigma_angle_hba=20.0 # 29.3 originally (given precisely)
sigma_angle_hbd=20.0 # 20.0 originally (inferred from .figure)

mu_angle_stacking=29.97767535
mu_dist_stacking=4.1876158

cov_stacking_00=169.9862228
cov_stacking_01=6.62318852
cov_stacking_10=6.62318852
cov_stacking_11=0.37123882


######################## OTHERS
gaussian_kernel_sigmas=4 # how many sigmas of width should the precalculated gaussians have?
apbs_min_cutoff=-2 # log-apbs cutoff
apbs_max_cutoff=3  # log-apbs cutoff
